

/* Importamos las fuentes Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@200;400;500&family=Quicksand:wght@300;400;500&family=Spline+Sans&display=swap');

/* Importamos las fuentes Serif */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Merriweather:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--purple-dark: #660033;
	--purple-medium: #730d40;
    --purple-light: #a00050;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */


.menu {
	background-color: var(--purple-medium);
	width: 100%;
	position: sticky;
	top: 0;
	padding: 5px;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	/* margin-bottom: 60px; */
}

.menu a {
	display: inline-block;
	padding: 10px 30px;
	font-size: 20px;
	background-color: var(--purple-medium);
	margin: 0 10px;
	transition: .5s ease all;
	color: var(--gray-light);
	text-decoration: none;
}

.menu a:hover {
	transform: translateY(18px);
    color: var(--gray-light)!important;
	background-color: var(--purple-light);
}

/*------------------Portada-------------------*/

.containerFondo{
    width: 100%;
    min-height: 615px;
    background: url(../img/batizFondo.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(48, 48, 48);
}

.fondoSection{
    width: 100%;
    min-height: 615px;
    padding-top: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgb(255, 255, 255, 1));

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.fondo_title{
    /* background-color: aquamarine; */
    font-size: 50px;
    font-family: 'Arvo', serif;
    /* font-weight: 500; */
    margin: 20px 0 10px 0;
}

.fondo_text{
    /* background: rgb(194, 212, 29); */
    width: 80%;
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.fondo_batizLogo{
    margin-top: -10px;
    min-width: 180px;
    width: 22%;
    /* background: #fff; */
}

/*------------------Portada-------------------*/

/*------------------Timeline-------------------*/

.containerTimelineTitle{
    /* background: #ffcc24; */
    background: rgb(255, 255, 255);
    height: 130px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timelineTitle{
    background: #682444;
    padding: 15px;
    border-radius: 30px;
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 500;
    font-family: 'Arvo', serif;
    text-align: center;
}


.containerTimeline{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0 100px 0;
    justify-content: center;
    /* background: #101010; */
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.8));
    color: rgb(253, 253, 253);
}

.timeline{
    width: 80%;
    height: auto;
    /* max-width: 800px; */
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timelineCard{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height:  200px;
    transition: all 2s ease;

    position: relative;
}

.timelineCard:last-child{
    margin-bottom: 0;
}

.timelineCardActive{
    max-height: none;
}


.openCardButton{
    /*background: #f7f7f7b2; */
    width: 100%;
    height: 110px;
    border-radius: 15px;
    position:absolute;
    left: 0;
    top: 0;

    cursor: pointer;
}

.timeline-header{

    height: 70px;
    margin-bottom: 30px;
}

.timelineCardTitle{
    /* background: #23665f; */
    min-height: 70px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.timeline-header h1{
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.timeline-header .date{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
}

.timeline-content{
    width: 100%;
    min-height: 300px;
    padding: 15px;
    margin-top: 40px;
    background: #f0f0f0;
    border-radius: 20px;

    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #101010;
    display: none;
    transition: all 2s ease;

}


.timeline-contentActive{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentCard{
    width: 100%;
    /* background: #23665f; */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentCard{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    margin: 10px 5px 10px 5px;
    /* background: #23665f; */
}

.imgContentCard{
    width: 80%;
    max-height: 200px;
    margin: 10px 5px 10px 5px;
    object-fit: cover;
    object-position: center;
}

.imgContentCardVertical{
    width: 60%;
    max-height: 300px;
    margin: 10px 5px 10px 5px;
    object-fit: cover;
    object-position: center;
}

.audioContentCard{
    width: 80%;
    margin: 10px 5px 10px 5px;
}

.iframeContentCard{
    width: 80%;
    height: 200px;
}

.closeCardButton{
    background: #2887bb;
    width: 100%;
    height: 37px;
    border-radius: 20px;
    margin-top: 30px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.5s;
}

.closeCardButton:hover{
    background: #23665f;
}

.closeCardIcon{
    color: #f5f5f5;
    font-size: 37px;
}

.bubbleColor1{
    background: #a21f0b;
}

.bubbleColor2{
    background: #f69453;
}

.bubbleColor3{
    background: #20948a;
}

.bubbleColor4{
    background: #bad04b;
}

@media only screen and (min-width: 786px){

    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: #0a0a0a;
    }

    .timelineCard{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
        max-height: 140px;
    }

    .timelineCardActive{
        max-height: none;
    }

    .openCardButton{
        height: 100px;
        border-radius: 40px;
    }

    .timelineCard:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 40px 0 40px 40px;
    }

    .timelineCard:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 40px 40px 40px;
    }

    .timelineCard::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: #0a0a0a;
        border-radius: 50%;
        top: 0;
    }

    .timelineCard:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timelineCard:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .bubbleColor1.timelineCard:hover::after{
        background: #792220 ;
    }

    .bubbleColor2.timelineCard:hover::after{
        background: #df7721 ;
    }

    .bubbleColor3.timelineCard:hover::after{
        background: #20948a;
    }

    .bubbleColor4.timelineCard:hover::after{
        background: #67bd43 ;
    }


    .timeline-header .date{
        position: absolute;
        top: -30px;
    }
}

/*------------------Timeline-------------------*/

/* -----------------Footer-------------------- */

.containerFooter{
    width: 100%;
    min-height: 150px;
    background: #682444;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerCard{
    max-width: 30%;
    min-height: 110px;
    /* background: #2a8ed6; */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iconFooter{
    /* background: #e9b819; */
    font-size: 55px;
    color: #e7e7e7;
    margin: 0 10px 0 10px;

    transition: all 0.3s ease-out;
}

.iconFooter:hover{
    transform: translateY(-20px);
}

.textFooter{
    /* background: #daa14b; */
    color: #e7e7e7;
    margin: 0 10px 0 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media only screen and (max-width: 550px){
    .textFooter{
        display: none;
    }
}

/* @media only screen and (max-width: 786px){
    .textFooter{
        display: none;
    }
} */



@media only screen and (max-width: 786px){

    .footerCard{
        /* background: #2a8ed6; */
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}

/* -----------------Footer-------------------- */
